.our_team .our_team_center div h5 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: #1D2130;
}
.our_team .our_team_center div div h6 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #1D2130;
}
.our_team .our_team_center div div span {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.7;
  color: #1D2130;
}
