b {
  color: #2405f2;
}
.privacy .privacy_center div div h5 {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.privacy .privacy_center div div p {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  opacity: 0.7;
  text-align: center;
}
.privacy .privacy_main div h5 {
  font-family: Poppins;
  font-size: 28px !important;
  font-weight: 600;
  line-height: 30px !important;
  letter-spacing: 0em;
  text-align: left !important;
}
.privacy .privacy_main div p {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left !important;
  opacity: 0.7;
}
.privacy_title{
    width: 80%;
}